body {
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	background-color: #fcdb00;
}

.navbar-default {
	background-color: #fcdb00;
	border-color: #fcdb00;
}

header > div > nav > .row > .btn-group {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

header > div > nav > .row > .btn-group > button.btn ,.btn-default:focus ,.btn-default:hover {
	border: 0;
	background-color: rgba(0,0,0,0);
	font-size: 21px;
}

header > div > nav > .row > div.center-block {
	float: none;
	text-align: center;
}

header > div > nav > .row > .center-block > h1 {
	display: inline;
	font-size: 30px;
	vertical-align: middle;
}

header > div > nav > .row > .social-Connect {
	font-size: 21px;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	text-align: right;
}

header > div > nav > .row > .social-Connect > a {
	color: #333333;
}

header > div > div > h2 {
	margin: 247px 0 19px 0;
	color: #222222;
	font-size: 45px;
}

header > div > div > p {
	color: #222222;
	font-size: 18px;
}

header > div > div > button {
	border: 2px solid #000;
	background-color: rgba(0, 0, 0, 0);
	color: #010101;
	margin-top: 37px;
	font-size: 22px;
}

header > div > div > i {
	font-size: 37px;
	margin: 178px 0 53px 0;
	color: #222222;
}

#features > .row > h2 {
	font-size: 32px;
	color: #010101;
	margin-top: 110px;
}

#features > .row > p {
	font-size: 20px;
	color: #898989;
}

#features > .row > div > .row > h3 , #features > .row div > h3 {
	font-size: 22px;
	color: #010101;
	margin-top: 70px;
}

#features > .row > div > p {
	font-size: 16px;
	color: #898989;
}

#features > .row > i.fas ,#features > .row > i.far {
	font-size: 50px;
	margin-top: 70px;
	color: #010101;
}

#pricing > #pricing-header > h2 {
	margin: 215px 0 14px 0;
	font-size: 32px;
}

#pricing > #pricing-header > p {
	color: #898989;
	font-size: 20px;
}

#pricing > .row > div > .circle {
	border-radius: 50px;
	background-color: #ebebeb;
	margin: 61px auto 23px auto;;
	width: 100px;
	height: 100px;
}

#pricing > .row > div > .circle.black {
	background-color: #010101;
	color: white;
}

#pricing > .row > div > .circle > i {
	font-size: 48px;
	margin-top: 26px;
}

#pricing > .row > div > p.offer-details {
	margin-top: 15px;
	color: #898989;
}

#pricing > .row > div > p.price {
	font-size: 32px;
	margin: 32px 0 1px 0;
}

#pricing > .row > div > .line {
	border: 1px solid #000;
	margin: 0 auto;
	width: 50px;
	height: 2px;
}

#pricing > .row > div > p:last-of-type {
	font-size: 16px;
	color: #898989;
	margin: 5px 0 23px 0;
}

#pricing > .row > div > button {
	border: 2px solid #000;
	background-color: #fff;
	font-size: 16px;
	color: #000;
	width: 100%;
}

#portfolio > .row > h2 {
	color: #000;
	margin-top: 191px;
	font-size: 32px
}

#portfolio > .row > p {
	color: #898989;
	font-size: 20px;
}

#portfolio > .gallery {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 220px);
	justify-content: center;
}

@media (max-width: 992px) {
	#portfolio > .gallery {
	grid-template-columns: repeat(2, 220px);
	}
}

#portfolio > div > div {
	margin: 51px 10px 0 10px;
	position: relative;
}

#portfolio > div > div > img {
	height: 200px;
	width: 100%;
}

#portfolio > div > div > img:hover ~ .overlay , #portfolio > div > div > p:hover + .overlay ,#portfolio > div > div > .overlay:hover {
	display: block;
}

#portfolio > div > div > p:first-of-type {
	position: absolute;
	top: 168px;
	margin: 0 10px;
	width: 180px;
	height: 25px;
	color: #ffffff;
	font-size: 14px;
	z-index: 1;
}

#portfolio > div > div > p > span:first-of-type {
	position: absolute;
	left: 0px;
}

#portfolio > div > div > p > span:last-of-type {
	position: absolute;
	right: 0px;
}

#portfolio > div > div > p > span > span {
	position: relative;
	top: -2px;
}

#portfolio > div > div > p > span > i {
	font-size: 22px;
}

#portfolio > div > div > p > span:last-of-type > i {
	position: relative;
	top: 2px;
}

#portfolio > div > div > .overlay {
	position: absolute;
	top: 0px;
	background-color: #222222;
	width: 100%;
	height: 200px;
	text-align: center;
	display: none;
	z-index: 0;
}

#portfolio > div > div > .overlay > button {
	background-color: #ffffff;
	font-family: 'Myriad Pro Regular';
	font-size: 18px;
	color: #222222;
	margin-top: 75px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: 0px;
}

#portfolio > div > div > .overlay > button:hover {
	background-color: #ffffff;
	color: #222222;
}

#portfolio > div > div > h3 {
	font-size: 22px;
	color: #000;
	margin: 17px 0 3px 0;
}

#portfolio > div > div > p:last-of-type {
	font-size: 16px;
	color: #898989;
}

#team {
	margin-top: 223px;
}

#team > div > div > * {
	text-align: center;
	max-width: 170px;
	display: block;
	margin: 0 auto;
}

#team > div > div > img {
	display: block;
	margin: 62px auto 35px auto;
}

#team > div > h2 {
	font-size: 32px;
	color: #010101;
}

#team > div > p {
	font-size: 20px;
	color: #898989;
}

#team > div > div > p.name {
	font-size: 22px;
	color: #010101;
}

#team > div > div > p.job {
	font-size: 16px;
	color: #898989;
}

#team > div > div > p.description {
	font-size: 14px;
	margin: 8px auto 10px auto;
}

#team > div > div > span > a > i {
	font-size: 16px;
	color: #010101;
}

#team > div > div > span > a > i:first-child {
	margin-right: 16px;
}

#team > div > div > span > a > i:last-child {
	margin-left: 11px;
}

#stats > #statistics > div > * {
	display: block;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}